[Desktop Entry]
Name=killgoadaemon
Comment=Restarts Online Account
Exec=killall goa-daemon
Icon=utilities-terminal
Terminal=false
Type=Application
Categories=Utility;
